.register-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 32px auto;
}

.register-container h3 {
    margin-top: 38px;
}

.register-container .register-user {
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.register-container .register-user .Button-clear {
    width: 218px;
    height: 45px;
    background: #086494;
    color: #ffffff;
    margin-top: 17px;
    margin: 10px;
    transition: filter 0.2;
   
}
@media(max-width: 600px) {
    .register-container .register-user .Button-clear {
        width: 110px;
        height: 45px;
        background: #086494;
        color: #ffffff;
        margin-top: 17px;
        margin: 10px;
        transition: filter 0.2;
        font-size: 14px;
       
    }

    .form-register .register-user .Button {
        background: #086494;
        color: #fff;
        height: 45px;
        margin-top: 17px;
        margin: 10px;
        transition: filter 0.2;
        font-size: 14px;
    }
    
}

.register-container .register-user .Button-clear:hover{
    filter: brightness(90%);
}

.form-register .register-user .Button {
    background: #086494;
    color: #fff;
    height: 45px;
    margin-top: 17px;
    margin: 10px;
    transition: filter 0.2;
}
.form-register .register-user .Button:hover {
    filter: brightness(90%);
}

.form-register {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 20px;
}

.register-container .two-fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    grid-gap: 24px;
}

.register-container .three-fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 24px;
}

/*********************************************************************/
.register-container .list-table h3 {
    margin-top: 20px;
}

.register-container .list-table input {
    margin-top: 40px;
}

.register-container .list-table table {
    border-spacing: 0;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 8px;
    width: 100%;
}

.register-container .list-table table tr:last-child td {
    border-bottom: 0;
}

.register-container .list-table table th, table td {
    margin: 0px;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    /*border-right: 1px solid #fff;*/
    position: relative;
}

.register-container .list-table table th:last-child, table td:last-child {
    border-right: 0;
}

.register-container .list-table table tr:nth-child(even) {
    background-color: #ededed;
}
  
.register-container .list-table table th::before {
    position: absolute;
    right: 10px;
    top: 22px;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.register-container .list-table table th.sort-asc::before {
    border-bottom: 5px solid #22543d;
}

.register-container .list-table table th.sort-desc::before {
    border-top: 5px solid #22543d;
}
  
.register-container .list-table .badge {
    background-color: #9ae6b4;
    color: #22543d;
    margin-right: 4px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.register-container .list-table input {
    width: 100%;
    height: 50px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 30px;
}

.register-container .list-table a:hover{
    filter: brightness(80%);
}

/* Paginação da tabela de usuários */
.register-container .pagination-table {
    height: 60px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .pagination-table button {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 56px;
    width: 56px;
    border: 1px solid #999;
    border-radius: .2em;
    text-decoration: none;
}

.register-container .pagination-table button:hover {
    filter: brightness(90%);
    background-color: #046494;
}

.register-container .pagination-table input {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 100px;
    align-items: center;
}

.register-container .pagination-table select {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
}

.register-container .pagination-table .pagination-number-pages {
    display: flex;
    align-items: center;
}

.register-container .pagination-table .pagination-buttons {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.register-container .pagination-table .pagination-go-page {
    display: flex;
    align-items: center;
    margin-left: 40px;
}